<h2>Create New Article</h2>
<form action="/articles" method="post">
  <p>Title: <input type="text" name="title"></p>
  <p>Content: <input type="text" name="content"></p>
  <input type="submit" value="submit">
</form>